<br>

<br>
<br>
<br>
<br>
<br>


<section id="perfil">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <h3 class="border-right-title"> Bienvenido a tu perfil</h3>
        <h1 class="nombreperfil">{{user.username}}</h1>
        <img class="logo2" src="../../images/dog-friendly2.png" alt="Logotipo">
        <div class="form-group">
        <a type=" " href="/" class="btn btn-white-salir">Salir</a>
      </div>
      </div>
      <div class="col-7 datos-perfil">
        <h4>Estos son tus datos</h4>
        <p class="texto2">Nombre:  {{user.username}}</p>
        <p class="texto2">Apellidos:  {{user.surname}}</p>
        <p class="texto2">Email:  {{user.email}}</p>

        <p class="texto2">Esta es tu password hasheada (si no entiendes nada ¡es por tu seguridad!):{{user.password}} </p>
   
        <p class="texto2">Nombre de tu perr@: {{user.nameDog}}</p>
      
        <p class="texto2">Edad de tu perr@: {{user.ageDog}}</p>
          
      </div>
    </div>

  </div>
</section>