<div class="container ">


  <h1  class="listado" style="font-weight: 100">Listado de áreas caninas</h1>


  <hr>
   {{#each area}}

      <a href="/areas/{{_id}}" class="btn btn-sm btn-dark">Ver detalles</a>
      <h4 class="listado-2">{{name}}</h4>
      <p>{{description}}</p>
      <small><strong>Longitud: </strong> {{length}} | <strong>Inversiones: </strong> {{inversions}} | <strong>Parque: </strong> {{park_id.name}}</small> 
      <hr>
    {{/each}}

</div>
